@import "tailwindcss";

body {
  overflow-x: hidden;
}

.abu {
  background-color: #EFF6FF;
}

.abu-text {
  color: #EFF6FF;
}

.ijo {
  background-color: #14B8A6;
  font-family: Poppins;
}

.poppins {
  font-family: Poppins;
}

.text-hero {
  color: #119586;
}

.bg-gangguan {
  background-color: #119586;
}


.menjaga-border {
  border: solid 4px #119586;
}