@import "tailwindcss";

body {
  overflow-x: hidden;
}

.abu {
  background-color: #EFF6FF;
}

.abu-text {
  color: #EFF6FF;
}

.ijo {
  background-color: #14B8A6;
  font-family: Poppins;
}

.poppins {
  font-family: Poppins;
}

.text-hero {
  color: #119586;
}

.bg-gangguan {
  background-color: #119586;
}


.menjaga-border {
  border: solid 4px #119586;
}

.ijo-tua {
  background-color: #119586;
}

.bg-cross {
  background-color: #EFF6FF;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #EFF6FF 20%, #EFF6FF 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #EFF6FF 20%, #EFF6FF 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#444cf7 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #444cf7 1.4000000000000001px, #EFF6FF 1.4000000000000001px) -0.7000000000000001px 0;
  background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

.item-container {
  width: 100%;
}